* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding: 1rem 1rem;
  max-width: 85rem;
  margin: auto;
}

header nav ul {
  list-style: none;
}

header > ul {
  list-style: none;
}
header ul li {
  display: inline-block;
}
header ul li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  transition: 0.3s;
}

header ul li a:hover {
  color: grey;
}
header ul li {
  margin: 0.6rem;
}
.icons {
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.3s;
}
.icons i:hover {
  color: grey;
}

.hero {
  max-width: 85rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.hero img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .img-holder {
  width: 69rem;
  height: 42rem;
}
.hero .container {
  width: 100%;
  padding: 1rem;
}
.hero .container h1 {
  margin-top: 4rem;
  font-size: 4.2rem;
  margin-bottom: 3rem;
  font-weight: 400;
}
.hero .container a {
  padding: 0.6rem 1.7rem;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 2rem;
}

.hero .container h2 {
  margin-top: 5rem;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.hero .container p {
  margin-top: 2rem;
  font-weight: 300;
  margin-bottom: 3rem;
}
.hero .container div {
  margin-top: 2rem;
  display: flex;
  gap: 4rem;
}
.hero .container div h3 {
  font-size: 2rem;
  font-weight: 900;
  color: grey;
}
.sec2 {
  max-width: 85rem;
  display: flex;
  margin: auto;
  margin-top: 3rem;
}
.sec2 div {
  width: 100%;
  padding: 1rem;
}

.sec2 div p {
  display: inline-block;
}
.sec2 div h5 {
  font-size: 2rem;
  font-weight: 400;
  align-items: center;
}
.sec2 div p {
  font-size: 1.3rem;
  font-weight: 350;
}
.Learn-more {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.Learn-more a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
/* .swiffy-slider {
  margin-bottom: 5rem;
  max-width: 80rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.swiffy-slider img {
  width: 100%;
  object-fit: cover;
  height: auto;
  margin-bottom: 2rem;
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.05);
  }
} */
.image-holder {
  margin-bottom: 2rem;
  justify-content: center;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.image-holder img {
  max-width: 80%;
}
/* .text {
  display: flex;
  padding: 1rem;
  max-width: 80rem;
  max-width: 85rem;
  margin: auto;
  align-items: center;
  gap: 15rem;

} */
/* .text div p {
  font-size: 1rem;
  font-weight: 600;
}

.text div h4 {
  font-size: 1.5rem;
  font-weight: 600;
} */

.text ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  min-width: none;
  max-width: 85%;
  margin: auto;
}

.text ul li {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.text ul li p {
  font-weight: 700;
  color: black;
}

.text ul li h4 {
  font-size: 1.3rem;
  font-weight: 550;
}

.text ul li a {
  color: black;
}
.text ul li a i {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  color: grey;
  transition: color 0.5s ease;
}
.icon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
}
.sec-page {
  max-width: 85rem;
  margin: auto !important;
  padding: 1em;
}

.sec-page #our-shop {
  font-size: 1rem;
  font-weight: 550;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.sec-page #heading {
  font-size: 2rem;
  font-weight: 550;
  margin-top: 2rem !important;
  margin-bottom: 2.5rem !important;
}

.sec-page #see-all {
  padding: 0.6rem 1.7rem;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 2rem;
}

.sec-page-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 1rem;
}

.sec-page-grid div {
  max-width: fit-content;
  max-height: 80%;
}

.sec-page-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.sec-page-grid .plant-info {
  .plant-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0;
    margin-top: 1rem;
    font-size: 1rem;
  }
}

.sec-page-grid .plant-name {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  font-size: 1rem;
}

.sec-page-grid .plant-price {
  color: black;
  font-size: 1rem;
}

aside {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icons-holder {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.icons-holder div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 3px solid;
  padding: 0.5rem;
  border-radius: 50%;
}
aside h4 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 2rem;
}
aside .p1 {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(85, 83, 83);
  margin-bottom: 1rem;
}
.aside .stars {
  display: flex;
  gap: 0.3rem;
}

.aside .stars div {
  margin-left: 0.8rem;
}
.aside .stars div p {
  font-weight: 900;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
aside .reviews {
  font-size: 0.7rem;
  font-weight: 600;
}
aside p {
  font-size: 1.7rem;
  font-family: 600;
}
.icons-holder {
  padding: 0.5rem;
  padding-bottom: 10rem;
  max-width: fit-content;
}

.pamela-s {
  text-align: center;
  margin-top: 3rem;
}
.pamela-s p {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}
.pamela-s .address {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(73, 73, 73);
}
.image-holder {
  margin-top: 3rem;
  display: flex;
}
.image-holder img {
  object-fit: cover;
}
.imageholder {
  margin-top: 3rem;
  display: flex;
  gap: 3.5rem;
}

.bimage-holder {
  margin-top: 2rem;
  position: relative;
  width: 84rem;
  height: 45rem;
  object-fit: cover;
}

.bimage-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  top: 23%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: black;
}
.overlay-text h4 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.overlay-text p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.overlay-text a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
}

.footer {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  align-items: end;
}

.footer h2 {
  font-size: 2.5rem;
  font-weight: 500;
}
.footer .input-holder input {
  border: none;
  border-bottom: 3px solid black;
  outline: none;
  font-size: 1rem;
  padding: 0.8rem;
  width: 25rem;
  position: relative;
}

.footer .input-holder button {
  padding: 0.6rem 2rem;
  border-radius: 99rem;
  position: absolute;
  margin-left: -7.6rem;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

footer {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  background-color: #f3f3f3;
  margin-top: 2rem;
}
footer ul {
  list-style: none;
  display: flex;
}
footer ul li a {
  color: black;
  text-decoration: none;
  padding: 0.8rem 2rem;
  transition: 0.3s;
}
footer ul li a:hover {
  color: grey;
}
footer .social-media {
  display: flex;
  gap: 3rem;
  cursor: pointer;
}
